{% extends "mypage-base.html" %}
{% load static %}

{% block css %}
{% endblock css %}

{% block sidebar %}
<div style="padding-left:40px;"><h1>내 임치물 관리</h1></div><br><hr>
<div style="padding-right:40px;text-align:right">
    <a href="/main"><i class="fas fa-home"></i></a> &nbsp; > &nbsp; <a href="/mypage">마이페이지</a> &nbsp; > &nbsp; <a href="/application_list">내 임치물 관리</a>
</div>    
{% endblock sidebar %}

{% block content %}
    <div class="col-lg-9">
        <div class="contents">
            <h3 class="mb-30 title_color" style="padding-left:40px">임치물 리스트</h3>
            <table class="table table-hover" width="90%" style="text-align:center;">
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>임치 기술명</th>
                        <th>분류</th>
                        <th>만료 날짜</th>
                        <th>연장 / 해지</th>
                    </tr>
                </thead>

                <tbody>
                {% for enroll_info in enroll_infos %}
                    <tr>
                        <td>{{enroll_info.title}}</td>
                        <td>{{enroll_info.sort_idx}}</td>
                        <td>{{enroll_info.end_date}}</td>
                        <td>
                            {% csrf_token %}
                            {% if enroll_info.enroll_status == 1 %}
                                {% for extend_info in extend_infos %}
                                    {% if extend_info.enroll_idx.enroll_idx == enroll_info.enroll_idx and extend_info.status == 0 %}
                                        <button type="submit" class="btn btn-outline-primary ck_button disabled" style="padding: 6px 3px 6px 3px;font-size:80%; border-color:rgb(238, 89, 89);width:50px;text-align: center;color:rgb(190, 54, 54);">요청중</button> 
                                    {% else %}
                                        <button type="submit" id="extend/{{enroll_info.enroll_idx}}" extend_id="{{enroll_info.enroll_idx}}" class="btn btn-outline-primary ck_button" style="padding: 6px 3px 6px 3px; font-size:80%; border-color:#39bfd6;width:50px" onclick="ck({{enroll_info.enroll_idx}})"> 연장 </button> 
                                    {% endif %}
                                {% endfor %}

                                {% for expire_info in expire_infos %}
                                    {% if expire_info.enroll_idx.enroll_idx == enroll_info.enroll_idx and expire_info.status == 0 %}
                                        <button type="submit" class="btn btn-outline-primary ck_button disabled" style="padding: 6px 3px 6px 3px;font-size:80%; border-color:rgb(238, 89, 89);width:50px;text-align: center;color:rgb(190, 54, 54);">요청중</button> 
                                    {% else %}
                                        <button type="submit" trid="{{enroll_info.enroll_idx}}" cont_id="0" class="btn btn-outline-info" style="font-size:80%; border-color:#00c8a9;width:50px" onclick="ck2({{enroll_info.enroll_idx}})"> 해지 </button>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {{enroll_info.enroll_status | safe}}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}

{% block js %}
<script>
    var tables = document.getElementsByTagName('tbody');
    var table = tables[tables.length - 1];
    var rows = table.rows;
    for(var i = 0, td; i < rows.length; i++){
        td = document.createElement('td');
        td.appendChild(document.createTextNode(i+1));
        rows[i].insertBefore(td, rows[i].firstChild);
    }
</script>
 <script>

        function ck(s){
         $.ajax({
            url: '/login2',
            type: 'POST',
            dataType : 'json',
            data: {'s' : s},
            success: function(result) {
            if(result.ck_val == 0) {
                    alert('이미 연장신청이 진행 중 입니다.')
                    location.reload()
                }
                else {
                       location.href="extend/" + s ;
                }
            }
        });
    };

</script>
<script>

        function ck2(s){
         $.ajax({
            url: '/login3',
            type: 'POST',
            dataType : 'json',
            data: {'s' : s},
            success: function(result) {
            if(result.ck_val == 0) {
                    alert('이미 해지신청이 진행 중 입니다. ')
                    location.reload()
                }else if(result.ck_val == 3) {
                    alert('해당 임치물에 진행중인 계약이 있습니다. \n기술 계약 해지는 관리자에게 문의하세요.')
                    location.reload()
                }
                else {
                       location.href="expire/" + s ;

                }
            }
        });
    };

</script>
{% endblock js %}