{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock css %}

{% block content %}
    <!--================Content Area =================-->
        <section class="register_area p_120">
            <div class="container">
                <div class="main_title">
        			<h2>기술임치 계약신청</h2>
        			<p>양식을 작성해주세요!</p>
        		</div>
                <div class="register_area_inner row">
                   <form action="" method="POST">{% csrf_token %}

                   <table class="table">
                    <tbody>
                        <tr>
                            <td colspan="9">
                                <h4>기술자료 임치 신청서</h4>
                            </td>
                        </tr>
                        <tr>
                                <th scope="row">기술 임치 신청자</th>
                                <td>
                                    {%if request.session.user_id %}
                                    {{request.session.user_id}}
                                    {% endif %}
                                </td>
                        </tr>

                        <tr>
                                <th scope="row">임치 기술 명칭</th>
                                <td>
                                    {{form.title}}
                                </td>
                        </tr>
                        <tr>
                                <th scope="row">기술 종류 </th>
                                <td>
                                    {{form.sort_idx}}
                                </td>
                        </tr>
                        <tr>
                                <th scope="row">임치 제공 기간 </th>
                                <td>
                                    {{form.term}}<br>(1년 단위)
                                </td>
                        </tr>

                        <tr>
                            <td>
                                <p>기본정보 공시동의</p>
                            </td>
                            <td colspan="2">
                                <input type="radio"/><label>예</label>
                                <input type="radio"/><label>아니오</label>
                            </td>
                            <td colspan="6">
                                <p>※ 공시내용 : 임치물 제호, 개발인·사용인 기업명 및 주소, 임치기술의 분류ㆍ종류ㆍ임치연월일</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="9">
                                <p>「대·중소기업 상생협력 촉진에 관한 법률」 제24조의2 내지 제24조의5에 따라 위와 같이 기술자료 임치를 신청합니다.</p>
                                <p></p>
                                <p>20 년 월 일</p>
                                <p></p>
                                <p>신청인(개발인) : 대표자 (인)</p>
                                <p></p>
                                <p>대·중소기업·농어업협력재단 사무총장 귀하</p>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="9">

                                <p>1. 대리인임을 증명하는 서류 각 1부(대리인이 신청하는 경우)</p>
                                <p>2. 신분증 사본 각 1부</p>
                                <p>3. 사업자등록증 및 법인인감증명서(법인사업자에 한함)</p>
                            </td>
                        </tr>
                    </tbody>
                </table>


                       <div class="button-group-area mt-40 col-md-6">
                <!--<a href="#" class="genric-btn primary circle arrow">임시저장<span class="lnr lnr-arrow-right"></span></a>-->
                <!--<a href="mypage" type="submit" class="genric-btn primary circle arrow" onclick="alert('제출되었습니다')">제출<span class="lnr lnr-arrow-right"></span></a>-->
                    <a href="main" class="genric-btn primary circle arrow" onclick="alert('취소되었습니다')">취소<span class="lnr lnr-arrow-right"></span></a>
                    <button type="submit" class="btn btn-primary btn-md" onclick="alert('제출되었습니다')">제출</button>
            </div>
                   </form>
                </div>
            </div>
        </section>
    <!--================End Content Area =================-->
{% endblock content %}

{% block js %}
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/contact.js' %}"></script>
{% endblock js %}
