{% extends "mypage-base.html" %}
{% load static %}

{% block css %}
    <link href="{%static 'css/tab.css' %}" rel="stylesheet">
    <link href="{% static 'css/table.css' %}" rel="stylesheet">
    <style>
        .col-sm-12{
            min-height:400px;
        }    
        #application_list {
            border-color: #3189AE;
        }
        #application_list p {
            color: #3189AE;
        }
        table > tbody > tr > td > a {
            overflow: hidden; 
            text-overflow: ellipsis;
            white-space: nowrap; 
            width: 300px;
            display: inline-block;
        }
    </style>
{% endblock css %}

{% block sidebar %}
    <div class="contents-header">
        <div class="contents-header-left">마이페이지</div>
        <div class="contents-header-right">
            <a href="/main"><i class="fas fa-home"></i></a> &nbsp; > &nbsp; <a href="/mypage">마이페이지</a> &nbsp; > &nbsp; <a class="header-right-last" href="/application_list">내 임치물 관리</a>
        </div>
    </div>
    <hr class="contents-header-hr">      
{% endblock sidebar %}

{% block content %}
    <div class="col-lg-9">
        <div class="contents">
            <h3 class="mb-30 title_color" style="padding-left:40px;color:rgb(88, 88, 88)">임치물 리스트</h3>
            <hr>
            <table class="table table-hover dataTables-example" width="100%" style="text-align:center; vertical-align:middle;">
                <thead>
                    <tr>
                        <th width="10%">No</th>
                        <th width="20%">임치 기술명</th>
                        <th width="13%">기간</th>
                        <th width="22%">만료 날짜</th>
                        <th width="15%">상태</th>
                        <th width="20%">처리</th>
                    </tr>
                </thead>

                <tbody>
                {% for enroll_info in enroll_infos %}
                    <tr>
                        <td>
                            <a class="enroll_title" data-value="{{enroll_info.enroll_idx}}" href="#" data-toggle="modal" data-target="#detail{{enroll_info.enroll_idx}}" style="font-weight:500;">{{enroll_info.title}}</a>
                            <!-- The Modal -->
                            <div class="modal fade" id="detail{{enroll_info.enroll_idx}}">
                                <div class="modal-dialog modal-lg modal-dialog-centered">
                                    <div class="modal-content">
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title" style="color:#2092a7">임치물 상세 정보</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        
                                        <!-- Modal body -->
                                        <div class="modal-body" style="text-align:left;padding:40px 30px 30px 30px;">
                                            <table class="table table-striped table-bordered table-hover" width="100%" style="text-align: center;vertical-align: middle;">
                                                <thead>
                                                    <tr>
                                                        <td width="24%">임치 기술명</td>
                                                        <td>{{enroll_info.title}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>기술 분류</td>
                                                        <td>{{enroll_info.sort_idx}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>정보제공 동의 여부</td>
                                                        <td>{{enroll_info.agree_status}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td rowspan="2" style="vertical-align: middle;">임치 기간</td>
                                                        <td>{{enroll_info.term}} 년</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{enroll_info.enroll_date}} ~ {{enroll_info.end_date}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>임치기술 요약</td>
                                                        <td>{{enroll_info.summary}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Transaction ID</td>
                                                        <td>{{enroll_info.enroll_tx}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>요청 시간</td>
                                                        <td>{{enroll_info.c_date}}</td>
                                                    </tr>
                                                </thead>
                                            </table>
                                            <div style="text-align:center;"><img src="{%static 'img/rsz_grootlogo.png' %}"></div>
                                        </div>
                                        
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-info" style="font-size:90%; border-color:#39bfd6;" data-dismiss="modal">닫기</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>{{enroll_info.term}} 년</td>
                        {% if enroll_info.enroll_status == "<div style='color:blue'>승인</div>" %}
                            <td>{{enroll_info.end_date}}</td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                        <td>{{enroll_info.enroll_status | safe}}</td>
                        <td>
                            {% csrf_token %}
                            {% if enroll_info.enroll_status == "<div style='color:blue'>승인</div>" %}
                                {% if enroll_info.extend_status == 'impossible' %}
                                    <button class="btn btn-outline-danger ck_button" style="padding: 6px 3px 6px 3px;font-size:80%; border-color:rgb(238, 89, 89);width:50px;text-align: center;" data-toggle="modal" data-target="#request{{enroll_info.enroll_idx}}">
                                        요청중
                                    </button>
                                    
                                    <!-- The Modal -->
                                    <div class="modal fade" id="request{{enroll_info.enroll_idx}}">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                            
                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                    <h4 class="modal-title" style='color:#2092a7'>연장 요청 사유</h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>

                                                {% for extend_info in extend_infos %}
                                                    {% if enroll_info.enroll_idx == extend_info.enroll_idx.enroll_idx and extend_info.status == 0 %}
                                                        <!-- Modal body -->
                                                        <div class="modal-body" style="text-align:left;padding:40px 30px 30px 30px;">
                                                            <table class="table table-striped table-bordered table-hover" width="100%" style="text-align: center;">
                                                                <thead>
                                                                    <tr>
                                                                        <td>요청 사유</td>
                                                                        <td>{{extend_info.reason}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>요청 시간</td>
                                                                        <td>{{extend_info.c_date}}</td>
                                                                    </tr>
                                                                </thead>
                                                            </table>
                                                            <div style="text-align:center;"><img src="{%static 'img/rsz_grootlogo.png' %}"></div>
                                                        </div>
                                                        
                                                        <!-- Modal footer -->
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-outline-info" style="font-size:90%; border-color:#39bfd6;" data-dismiss="modal">닫기</button>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <button type="submit" id="extend/{{enroll_info.enroll_idx}}" extend_id="{{enroll_info.enroll_idx}}" class="btn btn-outline-primary ck_button" style="padding: 6px 3px 6px 3px; font-size:80%; border-color:#39bfd6;width:50px" onclick="ck({{enroll_info.enroll_idx}})"> 연장 </button> 
                                {% endif %}
                            
                                {% if enroll_info.expire_status == 'impossible' %}
                                    <button class="btn btn-outline-danger ck_button " style="padding: 6px 3px 6px 3px;font-size:80%; border-color:rgb(238, 89, 89);width:50px;text-align: center;" data-toggle="modal" data-target="#expire{{enroll_info.enroll_idx}}">
                                        요청중
                                    </button>
                                    
                                    <!-- The Modal -->
                                    <div class="modal fade" id="expire{{enroll_info.enroll_idx}}">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                            
                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                    <h4 class="modal-title" style='color:#2092a7'>해지 요청 사유</h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>

                                                {% for expire_info in expire_infos %}
                                                    {% if enroll_info.enroll_idx == expire_info.enroll_idx.enroll_idx and expire_info.status == 0 %}
                                                        <!-- Modal body -->
                                                        <div class="modal-body" style="text-align:left;padding:40px 30px 30px 30px;">
                                                            <table class="table table-striped table-bordered table-hover" width="100%" style="text-align: center;">
                                                                <thead>
                                                                    <tr>
                                                                        <td width="20%">해지 사유</td>
                                                                        <td>{{expire_info.reason}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>요청 시간</td>
                                                                        <td>{{expire_info.c_date}}</td>
                                                                    </tr>
                                                                </thead>
                                                            </table>
                                                            <div style="text-align:center;"><img src="{%static 'img/rsz_grootlogo.png' %}"></div>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}

                                                <!-- Modal footer -->
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline-info" style="font-size:90%; border-color:#39bfd6;" data-dismiss="modal">닫기</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <button type="submit" trid="{{enroll_info.enroll_idx}}" cont_id="0" class="btn btn-outline-info" style="font-size:80%; border-color:#00c8a9;width:50px" onclick="ck2({{enroll_info.enroll_idx}})"> 해지 </button>
                                {% endif %}
                            {% elif enroll_info.enroll_status == "<div style='color:green'>대기중</div>" %}
                                -
                            {% else %}
                                <button class="btn btn-outline-danger ck_button" style="padding: 6px 3px 6px 3px;font-size:80%; border-color:rgb(238, 89, 89);width:70px;text-align: center;" data-toggle="modal" data-target="#target{{enroll_info.enroll_idx}}">
                                반려 사유
                                </button>
                            
                                <!-- The Modal -->
                                <div class="modal fade" id="target{{enroll_info.enroll_idx}}">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                        
                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title" style='color:rgb(211, 63, 37)'>반려 사유</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>

                                            <!-- Modal body -->
                                            <div class="modal-body" style="text-align:left;padding:40px 30px 30px 30px;">
                                                <table class="table table-striped table-bordered table-hover" width="100%" style="text-align: center;vertical-align: middle;">
                                                    <thead>
                                                        <tr>
                                                            <td width="20%">반려 사유</td>
                                                            <td>{{enroll_info.refused_reason}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>시간</td>
                                                            <td>{{enroll_info.enroll_date}}</td>
                                                        </tr>
                                                    </thead>
                                                </table>
                                                <div style="text-align:center;"><img src="{%static 'img/rsz_grootlogo.png' %}"></div>
                                            </div>
                                            
                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-info" style="font-size:90%; border-color:#39bfd6;" data-dismiss="modal">닫기</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script>
        var tables = document.getElementsByTagName('tbody');
        var table = tables[tables.length - 1];
        var rows = table.rows;
        for(var i = 0, td; i < rows.length; i++){
            td = document.createElement('td');
            td.appendChild(document.createTextNode(i+1));
            rows[i].insertBefore(td, rows[i].firstChild);
        }
    </script>
    <script>
        function ck(s){
            $.ajax({
                url: '/login2',
                type: 'POST',
                dataType : 'json',
                data: {'s' : s},
                success: function(result) {
                if(result.ck_val == 0) {
                        alert('이미 연장신청이 진행 중 입니다.')
                        location.reload()
                    }
                    else {
                            location.href="extend/" + s ;
                    }
                }
            });
        };
    </script>
    <script>
        function ck2(s){
            $.ajax({
            url: '/login3',
            type: 'POST',
            dataType : 'json',
            data: {'s' : s},
            success: function(result) {
                if(result.ck_val == 0) {
                        alert('이미 해지신청이 진행 중 입니다. ')
                        location.reload()
                    }else if(result.ck_val == 3) {
                        alert('해당 임치물에 진행중인 계약이 있습니다. \n기술 계약 해지는 관리자에게 문의하세요.')
                        location.reload()
                    }
                    else {
                            location.href="expire/" + s ;

                    }
                }
            });
        };
    </script>

<!-- DataTables JavaScript -->
<script src="{% static 'datatables/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'datatables-plugins/dataTables.bootstrap.js' %}"></script>
<script src="{% static 'datatables-responsive/dataTables.responsive.js' %}"></script>

<script>
$(document).ready(function() {
    $('.dataTables-example').DataTable({
        "lengthMenu": [ 5,10,15 ]
    });
});
</script>
{% endblock js %}