{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock css %}

{% block content %}
    <section class="portfolio_details_area p_120"><br><br>
        <div class="container">
            <div class="portfolio_details_inner">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="blog_right_sidebar">

                        <aside class="single_sidebar_widget author_widget">
                            <img class="author_img rounded-circle" src="{% static 'img/blog/user.jpg' %}" alt="">
                            <h4>{{ request.session.user_id }}</h4>
                            <p>GrootBlockchain company</p>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget post_category_widget">
                            <ul class="list cat-list">
                                <li>
                                    <a href="change" class="d-flex justify-content-between">
                                        <p>내정보 수정</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="list" class="d-flex justify-content-between">
                                        <p>계약 현황</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="bye" class="d-flex justify-content-between">
                                        <p>회원탈퇴</p>
                                    </a>
                                </li>
                            </ul>
                            <div class="br"></div>
                        </aside>

                    </div>

                    </div>
                    <div class="col-lg-9">
                        <br><br><br><br><br><br><br><br><br><br>
                        <center><h1>회원탈퇴 페이지</h1></center>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock content %}

{% block js %}
{% endblock js %}