{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock css %}

{% block content %}
    <section class="p_120">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget author_widget">
                            <img class="author_img rounded-circle" src="{% static 'img/blog/user.jpg' %}" alt="">
                            <h4>{{ request.session.user_id }}</h4>
                            <p>GrootBlockchain company</p>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget post_category_widget">
                            <ul class="list cat-list">
                                <li>
                                    <a href="change" class="d-flex justify-content-between">
                                        <p>내정보 수정</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="list" class="d-flex justify-content-between">
                                        <p>계약 현황</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="bye" class="d-flex justify-content-between">
                                        <p>회원탈퇴</p>
                                    </a>
                                </li>
                            </ul>
                            <div class="br"></div>
                        </aside>
                    </div>
                </div>
                <div class="col-lg-9 inner-container">
                    <div style="text-align:center;">
                        <h1>회원탈퇴</h1><br>
                        <h6>그루트 홈페이지를 탈퇴하시려면 임치되어있는 계약을 먼저 해지해주세요.</h6>
                        <br><br><br>
                        <div class="bye-form-left" style="text-align:left" ><h5>계약 현황</h5></div>
                        <hr><br>
                        이용중인 계약이 없습니다.
                        <br><br><br>
                        <div class="bye-form-left" style="text-align:left" ><h5>그루트 회원 탈퇴</h5></div>
                        <hr><br>
                        <a href="비밀번호 입력 페이지" class="genric-btn info circle arrow">회원 탈퇴</a>
                        <br><br><br><br><br><br><br><br><br><br><br><br>
                        헬로우
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block js %}
{% endblock js %}