{% extends "mypage-base.html" %}
{% load static %}

{% block css %}
{% endblock css %}

{% block sidebar %}
<div style="padding-left:40px;"><h1>기업정보 변경</h1></div><br><hr>
<div style="padding-right:40px;text-align:right">
    <a href="/main"><i class="fas fa-home"></i></a> &nbsp; > &nbsp; <a href="/mypage">마이페이지</a> &nbsp; > &nbsp; <a href="/change">개인정보 수정</a> &nbsp; > &nbsp; <a href="/change_com">기업정보 변경</a>
</div>    
{% endblock sidebar %}

{% block content %}
    <div class="col-lg-9">
        <div class="contents" style="padding-bottom:110px;">
            <div style="text-align:center;">
                <h1>기업정보 변경</h1><br>
            </div>
            <div style="text-align:left;padding-left: 20px;">
                <h6>·&nbsp;변경하고자 하는 정보를 입력 후 변경 버튼을 누르세요.</h6>
                <h6>·&nbsp;이메일주소, 회사 주소, 연락처에 대해 변경된 사항을 입력하여 정보를 수정할 수 있습니다.</h6>
                <br><hr>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <form onsubmit="check()" action="#" method="POST" style="padding-top: 30px;padding-left: 20px; padding-right: 20px;text-align: center;">                           
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="mt-10">
                                <input type="text" id="email" name="email"  placeholder="변경할 이메일 주소를 입력하세요." onfocus="this.placeholder = ''" onblur="this.placeholder = '변경할 이메일 주소를 입력하세요.'" class="form-control single-input">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="mt-10">
                                <input type="text" id="address" name="address"  placeholder="변경할 회사 주소를 입력하세요." onfocus="this.placeholder = ''" onblur="this.placeholder = '변경할 회사 주소를 입력하세요.'" class="form-control single-input">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="mt-10">
                                <input type="text" id="phone_num" name="phone_num"  placeholder="변경할 연락처를 입력해주세요." onfocus="this.placeholder = ''" onblur="this.placeholder = '변경할 연락처를 입력해주세요.'" class="form-control single-input">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="mt-10">
                                <button type="submit" class="genric-btn info circle" style="position:relative;top:80px;">변경</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <hr style="position: relative;top:-40px;">      
        </div>
    </div>
{% endblock content %}

{% block js %}
{% endblock js %}