{% extends "mypage-base.html" %}
{% load static %}

{% block css %}
<style>
    #change {
        border-color: #3189AE;
    }
    #change p {
        color: #3189AE;
    }
</style>
{% endblock css %}

{% block sidebar %}
<div class="contents-header">
    <div class="contents-header-left">마이페이지</div>
    <div class="contents-header-right">
        <a href="/main"><i class="fas fa-home"></i></a> &nbsp; > &nbsp; <a href="/mypage">마이페이지</a> &nbsp; > &nbsp; <a class="header-right-last" href="/change">개인정보 수정</a>
    </div>    
</div>
<hr class="contents-header-hr">  
{% endblock sidebar %}

{% block content %}
    <div class="col-lg-9">
        <div class="contents" style="padding:150px 25px 145px 25px">
            <div class="row">
                <div class="col-lg-6">
                    <div class="inner-container" style="padding:30px 20px 35px 20px;position: relative;min-height:230px;">
                        <div class="mb-20">
                            <span style="float: left;padding-left: 15px;"><h3><i class="fas fa-key"></i>&nbsp;&nbsp;비밀번호 변경</h3></span>
                        </div><hr>
                        <div style="font-weight:500;padding-left:30px;font-size:15px;">
                            <p>주기적으로 비밀번호를 변경하여 안전하게<br>계정을 보호하세요.</p>
                        </div>
                        <a href="/change_pw" class="genric-btn info circle" style="font-size:14px;position: absolute; right: 40px;">변경&nbsp;&nbsp;<span class="lnr lnr-arrow-right"></span></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="inner-container" style="padding:30px 20px 35px 20px;position: relative;min-height:230px;">
                        <div class="mb-20">
                            <span style="float: left;padding-left: 15px;"><h3><i class="far fa-building"></i>&nbsp;&nbsp;기업정보 변경</h3></span>
                        </div><hr>
                        <div style="font-weight:500;padding-left:30px;font-size:15px;">
                            <p>회사명, 주소, 연락처등의 회사 정보를 수정 <br>할 수 있습니다.</p>
                        </div>
                        <a href="change_com" class="genric-btn info circle" style="font-size:14px;position: absolute; right: 40px;">변경&nbsp;&nbsp;<span class="lnr lnr-arrow-right"></span></a>
                    </div>
                </div>
            </div>
        </div>    
    </div>
{% endblock content %}

{% block js %}
{% endblock js %}