{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock css %}

{% block content %}
    <section class="portfolio_details_area p_120"><br><br>
        <div class="container">
            <div class="portfolio_details_inner">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget author_widget">
                                <img class="author_img rounded-circle" src="{% static 'img/blog/user.jpg' %}" alt="">
                                <h4>{{ request.session.user_id }}</h4>
                                <p>GrootBlockchain company</p>
                                <div class="br"></div>
                            </aside>
                            <aside class="single_sidebar_widget post_category_widget">
                                <ul class="list cat-list">
                                    <li>
                                        <a href="change" class="d-flex justify-content-between">
                                            <p>내정보 수정</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="list" class="d-flex justify-content-between">
                                            <p>계약 현황</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="bye" class="d-flex justify-content-between">
                                            <p>회원탈퇴</p>
                                        </a>
                                    </li>
                                </ul>
                                <div class="br"></div>
                            </aside>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-5">
                        <br><br><br><br>
                        <div id="header" class="join_membership" role="banner">
                                <h3 class="title_color">비밀번호 변경</h3>
                        </div>
                        <div >
                            <form onsubmit="return oldpw_check()" action="#" method="POST" style="padding-top: 30px;padding-left: 20px; padding-right: 20px; border-radius: 1.0em; border: 2px solid rgb(129,129,129)">                           
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="mt-10">
                                        <input type="password" id="confirm_pw" name="confirm_pw"  placeholder="기존 비밀번호를 입력하세요" onfocus="this.placeholder = ''" onblur="this.placeholder='기존 비밀번호를 입력하세요'" class="form-control single-input">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="mt-10">
                                        <input type="password" id="new_pw1" name="new_pw1"  placeholder="새로 사용할 비밀번호를 입력하세요" onfocus="this.placeholder = ''" onblur="this.placeholder='새로 사용할 비밀번호를 입력하세요'" class="form-control single-input">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="mt-10">
                                        <input type="password" id="new_pw2" name="new_pw2"  placeholder="비밀번호를 한번 더 입력하세요" onfocus="this.placeholder = ''" onblur="this.placeholder='비밀번호를 한번 더 입력하세요'" class="form-control single-input">
                                    </div>
                                </div>
                                {{userinfo.user_pw}}
                                <div id="same"></div>
                                <div class="form-group">
                                    <div class="mt-10">
                                        <button type="submit" class="genric-btn info circle" style="position: absolute; right: 60px;">변경</a>
                                    </div>
                                </div>
                                <br><br><br>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block js %}
<script>
    function oldpw_check() {
        if ($("#confirm_pw").val() == ''){
            alert('기존 비밀번호를 입력해주세요.');
            $("#confirm_pw").focus();
            $("#confirm_pw").focus(function(){
                $('#confirm_pw').css("background","#F6A0A4");
            });
            $("#confirm_pw").blur(function(){
                $('#confirm_pw').css("background","");
            });return false; 
        }
        else {
            $("#confirm_pw").focus(function(){
                $('#confirm_pw').css("background","");
            });
        } 

        if ($("#new_pw1").val() == ''){
            alert('변경할 비밀번호를 입력해주세요.');
            $("#new_pw1").focus();
            $("#new_pw1").focus(function(){
                $('#new_pw1').css("background","#F6A0A4");
            });
            $("#new_pw1").blur(function(){
                $('#new_pw1').css("background","");
            });
            return false;
        }
        else {
            $("#new_pw1").focus(function(){
                $('#new_pw1').css("background","");
            });
        }

        if ($("#new_pw2").val() == ''){
            alert('변경할 비밀번호를 입력해주세요.');
            $("#new_pw2").focus();
            $("#new_pw2").focus(function(){
                $('#new_pw2').css("background","#F6A0A4");
            });
            $("#new_pw2").blur(function(){
                $('#new_pw2').css("background","");
            });
            return false;
        }
        else {
            $("#new_pw2").focus(function(){
                $('#new_pw2').css("background","");
            });
        }

        if ($("#confirm_pw").val() != "{{userinfo.user_pw}}"){
            alert("기존 비밀번호를 확인해주세요.")
            $("#confirm_pw").focus();
            $("#confirm_pw").focus(function(){
                $('#confirm_pw').css("background","#F6A0A4");
            });
            $("#confirm_pw").blur(function(){
                $('#confirm_pw').css("background","");
            });
            return false;
        }
        else {
            $("#confirm_pw").focus(function(){
                $('#confirm_pw').css("background","");
            });
        }

        if ($('#confirm_pw').val() == $('#new_pw1').val()) {
            alert("변경할 번호가 기존 비밀번호와 동일합니다.");
            $("#confirm_pw").focus();
            $("#confirm_pw").focus(function(){
                $('#confirm_pw').css("background","#F6A0A4");
            });
            $("#confirm_pw").blur(function(){
                $('#confirm_pw').css("background","");
            });
            return false;
        }
        else {
            $("#confirm_pw").focus(function(){
                $('#confirm_pw').css("background","");
            });
        }

        if ($('#new_pw1').val() != $('#new_pw2').val()) {
            alert("변경할 비밀번호가 일치하지 않습니다.");
            $("#new_pw1").focus();
            $("#new_pw1").focus(function(){
                $('#new_pw1').css("background","#F6A0A4");
            });
            $("#new_pw1").blur(function(){
                $('#new_pw1').css("background","");
            });
            return false;
        }
        else {
            $("#new_pw1").focus(function(){
                $('#new_pw1').css("background","");
            });
        }
        return true;
    }
</script>
{% endblock js %}