{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock css %}

{% block content %}

    <section>
        <div class="container shadow" style="text-align:center;">
            <div class="p_120">
                <div class="row">
                    <div class="col-lg-12">
                    
                        <div class="brand" style="padding-top:60px; padding-bottom:30px;">
                            <h1><img src="{% static 'img/safebox/s14.png' %}" style="width: 70px;padding-right: 13px;">기술 임치 해지 신청</h1>
                            <br>
                            <h4>해지 신청 양식을 작성해주세요!</h4>
                        </div>
                        <div id="sliderDouble" class="slider slider-info noUi-target noUi-ltr noUi-horizontal">
                            <div class="noUi-base">
                                <div class="noUi-origin" style="left: 20%;"></div>
                                <div class="noUi-connect" style="left: 0%; right: 66%;"></div>
                                <div class="noUi-origin" style="left: 15%;"></div>
                            </div>
                        </div>

                        <div class="col-md-12 ml-auto mr-auto" style="padding-top:20px;">
                            <form class="enrollment-form" action="" method="POST">{% csrf_token %}
                                <div id="table">
                                    <table>
                                        <caption>기술자료 임치 해지 신청서</caption>
                                        <colgroup>
                                            <col style="width: 13.5554%">
                                            <col style="width: 13.3333%">
                                            <col style="width: 30%">
                                            <col style="width: 13.3333%">
                                            <col style="width: 30%">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th colspan="5"><span>기술자료 임치 해지 신청서</span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th rowspan="2">임치물</th>
                                                <th>제호</th>
                                                <td colspan="3">{{enrollinfo.title}}</td>
                                            </tr>
                                            <tr>
                                                <th>종류</th>
                                                <td colspan="3">{{ enrollinfo.sort_idx }}</td>
                                            </tr>
                                            <tr>
                                                <th rowspan="3">개발인</th>
                                                <th>기업명</th>
                                                <td>{{enrollinfo.user.com_name}}</td>
                                                <th>사업자등록번호</th>
                                                <td>{{enrollinfo.user.com_num}}</td>
                                            </tr>
                                            <tr>
                                                <th>대표자</th>
                                                <td>{{enrollinfo.user.com_head}}</td>
                                                <th>전화번호</th>
                                                <td>{{enrollinfo.user.phone_num}}</td>
                                            </tr>
                                            <tr>
                                                <th>주소</th>
                                                <td colspan="3">{{enrollinfo.user.address}}</td>
                                            </tr>
                                            <tr>
                                                <th>현재 임치 기간</th>
                                                <td class="center" colspan="5">{{edate}} 까지
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="center" colspan="5">기술 임치 해지 사유</th>
                                            </tr>
                                            <tr>
                                                <td colspan="5">{{form.reason}}<span id="counter">###</span></td>
                                            </tr>
                                            <tr>
                                                <td class="left" colspan="5"  style="padding-top:30px;">「대·중소기업 상생협력 촉진에 관한 법률」 제24조의2 내지 제24조의6에 따라<br> 위와 같이 기술자료 임치 해지를 신청합니다.<br><br></td>
                                                </td>
                                            </tr>
        
                                            <tr>
                                                <td colspan="5" style="text-align: right; padding:15px 30px 15px">신청일 : {{create_date}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="5" style="text-align:right; padding:15px 30px 15px"> 신청인(개발인) :  {{enrollinfo.user.com_head}}  (인)</td>
                                            </tr>
                                            <tr>
                                                <td class="center" colspan="5" style="padding: 15px 0 15px 0">대·중소기업·농어업협력재단 사무총장  귀하</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="button-group-area mt-40 col-md-6">
                                    <button type="submit" value="submit" class="btn submit_btn submit_btn">취소</button>
                                    <button type="submit" value="submit" class="btn submit_btn" >제출</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block js %}
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
   <script type="text/javascript">
    function chkword(obj, maxByte) {

        var strValue = obj.value;
        var strLen = strValue.length;
        var totalByte = 0;
        var len = 0;
        var oneChar = "";
        var str2 = "";

        for (var i = 0; i < strLen; i++) {
            oneChar = strValue.charAt(i);
                totalByte++;


            // 입력한 문자 길이보다 넘치면 잘라내기 위해 저장
            if (totalByte <= maxByte) {
                len = i + 1;
            }
        }

        // 넘어가는 글자는 자른다.
        if (totalByte > maxByte) {
            alert(maxByte + "자를 초과 입력 할 수 없습니다.");
            str2 = strValue.substr(0, len);
            obj.value = str2;
            chkword(obj, 4000);
        }
    }

    $(function() {
      $('#id_reason').keyup(function (e){
          var content = $(this).val();
          $(this).height(((content.split('\n').length + 1) * 1.5) + 'em');
          $('#counter').html(content.length + '/300');
      });
      $('#content').keyup();
});
</script>
{% endblock js %}
