{% extends "groot_scan-base.html" %}
{% load static %}
{% block css %}
{% endblock css %}

{% block content %}
<div class="content-wrap">
	{% for b in blo %}
	<div class="screen0">
		<div class="wrap-holder">
			<p class="title">
				Block
			</p>
			<div class="contents">
				<table class="table-typeB detail">
					<tbody>
						<tr>
							<td> Block Height </td>
							<td>
								<!--만약 0번 블록이면 prev 비활성화, 마지막 블록이면 next 비활성화-->
								<a class="prev" href="/groot_scan/block/{{height}}"> <i class="fas fa-caret-left"></i> </a>
									<em class="value">{{height}}</em>
								<a class="next" href="/groot_scan/block/{{height}}"> <i class="fas fa-caret-right"></i> </a>
							</td>
						</tr>
						<tr>
							<td> Time Stamp </td>
							<td> {{b.timestamp}} <em>(UTC+9, 34 seconds ago)</em> </td>
						</tr>
						<tr>
							<td> Transactions </td>
							<td> <span>{{b.transactions}} Transactions</span> in this block </td>
						</tr>
						<tr>
							<td> Hash </td>
							<td> 0x{{b.current_hash}} </td>
						</tr>
						<tr>
							<td> Prev Hash </td>
							<td>
								<a class="on " title="{{height}}" href="/block/{{height}}">0x{{b.previous_hash}}</a>
							</td>
						</tr>
						<tr>
							<td> Block size </td>
							<td> 1,267 bytes </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="screen1">
		<div class="wrap-holder">
			<div class="tab-holder">
				<ul>
					<li class="on">Transactions</li>
				</ul>
			</div>
			<div class="contents">
				<p class="txt">
					<span>Latest<em>{{b.transactions}}</em> txns from a total of<em class="mint">1 transactions</em></span>
				</p>
				<table class="table-typeD">
					<thead>
						<tr>
							<th> Tx Hash </th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class=" on">
								<a title="{{b.data.Transaction_ID}}" href="/transaction/{{b.data.Transaction_ID}}">
									<span class="ellipsis">{{b.data.Transaction_ID}}</span>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock content %}

{% block js %}
{% endblock js %}