{% extends "groot_scan-base.html" %}
{% load static %}
{% block css %}
{% endblock css %}

{% block content %}
<div class="content-wrap">
	<div class="screen0">
		<div class="wrap-holder">
			<p class="title">
				Block
			</p>
			<div class="contents">
				<table class="table-typeB detail">
				<tbody>
				<tr>
					<td>
						Block Height
					</td>
					<td>
						<p class="prev ">
							<em class="img"></em>
						</p>
						<em class="value">4,400,984</em>
						<p class="next disabled">
							<em class="img"></em>
						</p>
					</td>
				</tr>
				<tr>
					<td>
						Time Stamp
					</td>
					<td>
						2019-01-31 01:35:43<em>(UTC+9, 34 seconds ago)</em>
					</td>
				</tr>
				<tr>
					<td>
						Transactions
					</td>
					<td>
						<span>1 Transactions</span> in this block
					</td>
				</tr>
				<tr>
					<td>
						Hash
					</td>
					<td>
						0x284838d7444f094f1f015fd7dbfe7cd37699bebbe029f64b541cead1e0e94e86
					</td>
				</tr>
				<tr>
					<td>
						Prev Hash
					</td>
					<td>
						<a class="on " title="4400983" href="/block/4400983">0xc02ab07670c80304871dfc575ba56b126a89db95b919f61324fc8cba4f7ae9fb</a>
					</td>
				</tr>
				<tr>
					<td>
						Block size
					</td>
					<td>
						1,267 bytes
					</td>
				</tr>
				</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="screen1">
		<div class="wrap-holder">
			<div class="tab-holder">
				<ul>
					<li class="on">Transactions</li>
				</ul>
			</div>
			<div class="contents">
				<p class="txt">
					<span>Latest<em>1</em> txns from a total of<em class="mint">1 transactions</em></span>
				</p>
				<table class="table-typeD">
				<thead>
				<tr>
					<th>
						Tx Hash
					</th>
					<th>
						From
					</th>
					<th class="table-sign">
					</th>
					<th>
						To
					</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td class=" on">
						<a title="0x5bdd7d7ad5b849a9b8fb54b9569a7aa26035e2fab06eee51c778f189d1c16830" href="/transaction/0x5bdd7d7ad5b849a9b8fb54b9569a7aa26035e2fab06eee51c778f189d1c16830"><span class="ellipsis">0x5bdd7d7ad5b849a9b8fb54b9569a7aa26035e2fab06eee51c778f189d1c16830</span></a>
					</td>
					<td class=" on">
						<span class="ellipsis"><a class="on" title="hx60dd7caeb663f8676177d5c3aa0f461b23e4785f" href="/address/hx60dd7caeb663f8676177d5c3aa0f461b23e4785f">hx60dd7caeb663f8676177d5c3aa0f461b23e4785f</a></span>
					</td>
					<td class="table-sign">
						<i class="img"></i>
					</td>
					<td class="icon on">
						<i class="img"></i><span class="ellipsis"><a class="on" title="cx12ffc5fb6d5c3c1ddf9d6375dcb50ca7bae14512" href="/contract/cx12ffc5fb6d5c3c1ddf9d6375dcb50ca7bae14512">cx12ffc5fb6d5c3c1ddf9d6375dcb50ca7bae14512</a></span>
					</td>
				</tr>
				</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block js %}
{% endblock js %}