{% extends "base.html" %}
{% load static %}

{% block css %}
    <style>
        .tr_link:hover{color:black; font-weight: bold;}
        .btn-outline-primary:hover{color:white; background-color:#39bfd6;}
        .btn-outline-info:hover{color:white; background-color:#00c8a9;}
    </style>
{% endblock css %}

{% block content %}
    <section class="contact_area p_200" >
            <div class="container" style="text-align:center;">
                <h3 class="mb-30 title_color">임치 및 계약 목록</h3>
                <table class="table table-hover" width="90%">
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>임치 기술명</th>
                            <th>계약 날짜</th>
                            <th>만료 날짜</th>
                            <th>증명서 발급</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for enroll_info in enroll_infos %}
                        {% with forloop.counter as counter %}
                            <tr>
                                <td >
                                    <a href="#" trid="{{enroll_info.enroll_idx}}" class="tr_link" id="{{enroll_info.enroll_idx}}">
                                        {{counter}}
                                        <!--{{enroll_info.enroll_idx}}-->
                                    </a>
                                </td>
                                <td>{{enroll_info.title}}</td>
                                <td>{{enroll_info.enroll_date}}</td>
                                <td>{{enroll_info.end_date}}</td>
                                <td>
                                    {% csrf_token %}
                                    <button type="submit" trid="{{enroll_info.enroll_idx}}" cont_id="0" class="btn btn-outline-primary" style="font-size:80%; border-color:#39bfd6;"> 발급 </button>
                                    <button type="submit" trid="{{enroll_info.enroll_idx}}" cont_id="0" class="btn btn-outline-info" style="font-size:80%; border-color:#00c8a9;"> 보기 </button>
                                </td>
                            </tr>
                            {% for contract_info in contract_infos %}
                                {% if contract_info.enroll_idx.enroll_idx == enroll_info.enroll_idx %}
                                    <tr id="tr_show" class="tr{{contract_info.enroll_idx.enroll_idx}}" style="{display:none}">
                                        <td style="padding-left:9%;">
                                            <span style="font-size: 20px; color: Dodgerblue;">
                                              <i class="fa fa-angle-right"></i>
                                            </span>
                                        </td>
                                        <td>{{contract_info.user.com_name}}</td>
                                        <td>{{contract_info.c_date}}</td>
                                        <td>{{contract_info.end_date}}</td>
                                        <td>
                                            <button type="submit" trid="{{contract_info.enroll_idx.enroll_idx}}" cont_id="{{contract_info.cont_idx}}" class="btn btn-outline-primary" style="font-size:80%; border-color:#39bfd6;"> 발급 </button>
                                            <!--<a href="show_cont/{{enroll_info.enroll_idx}}-{{contract_info.cont_idx}}">-->
                                            <button type="submit" trid="{{contract_info.enroll_idx.enroll_idx}}" cont_id="{{contract_info.cont_idx}}" class="btn btn-outline-info" style="font-size:80%; border-color:#00c8a9;"> 보기 </button>
                                            <!--</a>-->
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endwith %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="page">
                <ul class="pagination" style="justify-content: center;">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
                </ul>
            </div>

    </section>
    <br><br><br><br><br><br><br>
{% endblock content %}

{% block js %}
<script>
    $('button[type=submit]').click(function() {
        let trid = $(this).attr('trid');
        let cont_id = $(this).attr('cont_id');
        $.ajax({
            url: '/issue/',
            type: 'POST',
            data: {
                'enroll_id': trid,
                'cont_id': cont_id
                <!--'csrfmiddlewaretoken':'{{ csrf_token }}',-->
            },
            success: function(result) {
                if(result.ck_val == 0) { <!-- 증명서 미발급 -->
                    alert('증명서 발급 완료');
                    location.reload();
                } else if(result.ck_val == 1) { <!-- 증명서 발급내역 존재 -->
                    if(result.type == 0) { <!-- 임치증명서 -->
                        location='/issue/show_app/' + trid;
                    } else { <!-- 계약증명서 -->
                        location='/issue/show_cont/' + trid + '-' + cont_id;
                    }
                } else if(result.ck_val == 2) { <!-- 증명서 발급 기한 만료 -->
                    alert('증명서의 유효기간이 만료되었습니다.\n재발급 받아주세요.');
                    location.reload()
                }
            },
            error: function(request, status, error) {
                alert("code = " + request.status + "\n\n message = " + request.responseText + "\n\n error = " + error);
            }
        });
        return false;
    });
</script>
<script>
    $(function() {
        $('.tr_link').click(function() {
            let trid = $(this).attr('trid');
            $('.tr'+trid).toggle();
        });
        <!--$('.tr'+trid').hide();-->

        <!--임치목록 1부터 나타내기-->
        <!--var tables = document.getElementsByTagName('tr');-->
        <!--var table = tables[tables.length - 1];-->
        <!--var rows = table.rows;-->
        <!--for(var i = 0, td; i < rows.length; i++){-->
            <!--td = document.createElement('td');-->
            <!--td.appendChild(document.createTextNode(i+1));-->
            <!--rows[i].insertBefore(td, rows[i].firstChild);-->
        <!--}-->

        <!--$('.tr_link').hover(function() { 돋보기 뜨는거-->
            <!--let trid = $(this).attr('trid');-->
            <!--let icon = `<span style="font-size: 20px; color: Dodgerblue;">-->
                           <!--<i class="fa fa-search-plus"></i>-->
                        <!--</span>`;-->
            <!--$('#'+trid).html(icon);-->
        <!--});-->
        <!--$('.tr_link').html('{{enroll_info.enroll_idx}}');-->
    });
</script>
{% endblock js %}