{% extends "base.html" %}
{% load static %}
{% block css %}
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">
<style>
	section {
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 23px;
	}
</style>
{% endblock css %}

{% block content %}
	<section class="contact_area p_200" >
		<div class="container" style="background-color: #f5f3f1;">
			<div class="join_form" id="join_form">

				<div class="col-md-6" id="join_form_col">
					<div id="header" class="join_membership" role="banner">
						<h3 class="title_color">회원가입</h3>
					</div>

					<form method='POST' id="joinForm" style="font-size:14px;font-weight:500;">  <!--action="#"-->
						{% csrf_token %}
						<div class="form-group">
							<div class="input-group input_box d-flex flex-row">
								<input type="text" name="user_id" placeholder="아이디" minlength="5" maxlength="20" onfocus="this.placeholder = ''" onblur="this.placeholder = '아이디'" required class="form-control form-control-input" id="user_id" autofocus>
								<button class="btn sub-btn" id="idck"><span>중복확인</span></button>
							</div>
						</div>
						<span class="error_next_box" id="idMsg" style="display:none" role="alert"></span>
						<div class="form-group input_box" id ="">
							<input type="password" name="user_pw1" id="user_pw1" placeholder="비밀번호" onfocus="this.placeholder = ''" onblur="this.placeholder = '비밀번호'" required class="form-control" >
						</div>
						<span class="error_next_box" id="pswd1Msg" style="display:none" role="alert"></span>
						<div class="form-group input_box" >
							<input type="password" name="user_pw2" id="user_pw2" placeholder="비밀번호 확인" onfocus="this.placeholder = ''" onblur="this.placeholder = '비밀번호 확인'" required class="form-control"  >
						</div>
						<span class="error_next_box" id="pswd2Msg" style="display:none" role="alert"></span>
						<div class="form-group input_box">
							<input type="text" name="com_name" placeholder="회사명" onfocus="this.placeholder = ''" onblur="this.placeholder = '회사명'" required class="form-control" id="com_name">
						</div>
						<span class="error_next_box" id="com_nameMsg" style="display:none" role="alert"></span>
						<div class="form-group input_box">
							<input type="text" name="com_head" placeholder="대표자" onfocus="this.placeholder = ''" onblur="this.placeholder = '대표자'" required class="form-control" id="com_head">
						</div>
						<span class="error_next_box" id="com_headMsg" style="display:none" role="alert"></span>
						<div class="form-group input_box">
							<div class="input-group d-flex flex-row">
								<input type="text" name="com_num" placeholder="사업자등록번호(숫자만 입력해주세요)" onfocus="this.placeholder = ''" onblur="this.placeholder = '사업자등록번호'" required class="form-control form-control-input" id="com_num" >
								<button class="btn sub-btn" id="com_ck"><span>중복조회</span></button>
							</div>
						</div>
						<span class="error_next_box" id="cidMsg" style="display:none" role="alert"></span>
						<div class="form-group input_box">
							<div class="input-group d-flex flex-row">
								<input type="email" name="email" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required class="form-control form-control-input" id="email">
							</div>
						</div>
						<span class="error_next_box" id="emailMsg" style="display:none" role="alert"></span>
						<div class="form-group input_box">
							<input type="text" name="address" placeholder="주소" onfocus="this.placeholder = ''" onblur="this.placeholder = '주소'" required class="form-control" id="address">
						</div>
						<div class="form-group input_box">
							<input type="text" name="homepage" placeholder="홈페이지주소" onfocus="this.placeholder = ''" onblur="this.placeholder = '홈페이지주소'" required class="form-control" id="homepage">
						</div>
						<div class="form-group input_box">
								<input type="text" name="phone_num" placeholder="핸드폰 번호" onfocus="this.placeholder = ''" onblur="this.placeholder = '핸드폰 번호'" required class="form-control" id="phone_num">
						</div>
						<div>
							<button type="submit" value="submit" class="btn login_btn" id="btnSend" style="background: #569bb8;border: 1px solid #3189ae; font-size: 15px;">가입하기</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}

{% block js %}
<script src="{% static 'js/join.js' %}"></script>
{% endblock js %}