<!doctype html>
{%load static%}
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{%static 'img/favicon.png' %}" type="image/png">
        <title>Groot Blocchain</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{%static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{%static 'vendors/linericon/style.css' %}">
        <link rel="stylesheet" href="{%static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{%static 'vendors/owl-carousel/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{%static 'vendors/lightbox/simpleLightbox.css' %}">
        <link rel="stylesheet" href="{%static 'vendors/nice-select/css/nice-select.css' %}">
        <link rel="stylesheet" href="{%static 'vendors/animate-css/animate.css' %}">
        <link rel="stylesheet" href="{%static 'vendors/flaticon/flaticon.css' %}">
        <!-- main css -->
        <link rel="stylesheet" href="{%static 'css/style.css' %}">
        <link rel="stylesheet" href="{%static 'css/responsive.css' %}">
    </head>
    <body>
	        <!--================Header Menu Area =================-->
        <header class="header_area">
            <div class="main_menu" id="mainNav">
            	<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand logo_h" href="main"><img src="{%static 'img/rsz_grootlogo.png' %}" alt=""><img src="{%static 'img/rsz_grootlogo.png' %}" alt=""></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto">
								<li class="nav-item submenu dropdown">
									<a href="register" class="nav-link-other" role="button" aria-haspopup="true" aria-expanded="false">기술임치신청</a>

								</li>
								<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link-other otherpage dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">증명서</a>
									<ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link" href="projects.html">증명서 발급</a></li>
										<li class="nav-item"><a class="nav-link" href="project-details.html">증명서 검증</a></li>
									</ul>
								</li>
								<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link-other otherpage dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">기술열람</a>
									<ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link" href="blog.html">기업고객</a></li>
										<li class="nav-item"><a class="nav-link" href="single-blog.html">계약고객</a></li>
									</ul>
								</li>
								<li class="nav-item"><a class="nav-link-other" href="contact.html">고객센터</a></li>
								<li class="nav-item"><a class="nav-link-other" href="login">로그인</a></li>
							</ul>
						</div>
					</div>
            	</nav>
            </div>
        </header>
        <!--================Header Menu Area =================-->
		<section class="contact_area p_200" >
			<div class="container">
				<div class="join_form">

					<div class="col-md-6">
						<div id="header" class="join_membership" role="banner">
							<h3 class="title_color">회원가입</h3>
						</div>

						<form method='POST'>  <!--action="#"-->
							{% csrf_token %}
							<div class="form-group">
								<div class="input-group d-flex flex-row">
									<input type="text" name="user_id" placeholder="아이디" onfocus="this.placeholder = ''" onblur="this.placeholder = '아이디'" required class="form-control form-control-input" id="user_id">
									<button class="btn sub-btn"><span>중복확인</span></button>
								</div>
							</div>
							<div class="form-group">
								<input type="password" name="user_pw" placeholder="비밀번호" onfocus="this.placeholder = ''" onblur="this.placeholder = '비밀번호'" required class="form-control" id="user_pw" oninput="checkPwd()">
							</div>
							<div class="form-group ">
								<input type="password" name="user_pw" placeholder="비밀번호 확인" onfocus="this.placeholder = ''" onblur="this.placeholder = '비밀번호 확인'" required class="form-control" id="re_user_pw" oninput="checkPwd()">
							</div>
							<div class="form-group ">
								<input type="text" name="com_name" placeholder="회사명" onfocus="this.placeholder = ''" onblur="this.placeholder = '회사명'" required class="form-control" id="com_name">
							</div>
							<div class="form-group ">
								<input type="text" name="com_head" placeholder="대표자" onfocus="this.placeholder = ''" onblur="this.placeholder = '대표자'" required class="form-control" id="com_head">
							</div>
							<div class="form-group ">
								<div class="input-group d-flex flex-row">
									<input type="text" name="com_num" placeholder="사업자등록번호" onfocus="this.placeholder = ''" onblur="this.placeholder = '사업자등록번호'" required class="form-control form-control-input" id="com_num" >
									<button class="btn sub-btn"><span>조회</span></button>
								</div>
							</div>
							<div class="form-group ">
								<div class="input-group d-flex flex-row">
									<input type="email" name="email" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required class="form-control form-control-input" id="email">
									<button class="btn sub-btn"><span>중복확인</span></button>
								</div>
							</div>
							<div class="form-group">
								<input type="text" name="address" placeholder="주소" onfocus="this.placeholder = ''" onblur="this.placeholder = '주소'" required class="form-control" id="address">
							</div>
							<div class="form-group ">
									<input type="text" name="phone_num" placeholder="핸드폰 번호" onfocus="this.placeholder = ''" onblur="this.placeholder = '회사명'" required class="form-control" id="phone_num">
							</div>
							<div>
								<button type="submit" value="submit" class="btn login_btn">회원가입</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>






		        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{%static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{%static 'js/popper.js' %}"></script>
        <script src="{%static 'js/bootstrap.min.js' %}"></script>
        <script src="{%static 'js/stellar.js' %}"></script>
        <script src="{%static 'vendors/lightbox/simpleLightbox.min.js' %}"></script>
        <script src="{%static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
        <script src="{%static 'vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{%static 'vendors/isotope/isotope-min.js' %}"></script>
        <script src="{%static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
        <script src="{%static 'vendors/jquery-ui/jquery-ui.js' %}"></script>
        <script src="{%static 'js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{%static 'vendors/counter-up/jquery.waypoints.min.js' %}"></script>
        <script src="{%static 'vendors/counter-up/jquery.counterup.min.js' %}"></script>
        <script src="{%static 'js/mail-script.js' %}"></script>
        <script src="{%static 'js/theme.js' %}"></script>
		<script>
			$('button[type=submit]').click(function() {

				$.ajax({
					url: '/join',
					type: 'post',
					data: $('form').serialize(),
					success: function(result) {
						alert(result)
						window.location.replace('/login')
					}
				})

				return false
			})


			function checkPwd() {
        		var inputed = $('#user_pw').val();
        		var reinputed = $('#re_user_pw').val();
        		if(reinputed=="" && (inputed != reinputed || inputed == reinputed)){
					$(".btn login_btn").prop("disabled", true);
					$(".btn login_btn").css("background-color", "#aaaaaa");
					$("#re_user_pw").css("background-color", "#FFCECE");
        		}
        		else if (inputed == reinputed) {
            		$("#re_user_pw").css("background-color", "#B0F6AC");
					pwdCheck = 1;
					if(idCheck==1 && pwdCheck == 1) {
                		$(".btn login_btn").prop("disabled", false);
                		$(".btn login_btn").css("background-color", "#4CAF50");
            		}
        		} else if (inputed != reinputed) {
            		pwdCheck = 0;
					$(".btn login_btn").prop("disabled", true);
					$(".btn login_btn").css("background-color", "#aaaaaa");
					$("#re_user_pw").css("background-color", "#FFCECE");
				}
    		}
		</script>


	</body>
</html>