{% extends "base.html" %}
{%load static%}

{% block css %}
{% endblock css %}

{% block content %}
    <!--================Content Area =================-->
        <section class="portfolio_details_area p_120"><br><br>
            <div class="container">
                <div class="portfolio_details_inner">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="blog_right_sidebar">

                                <aside class="single_sidebar_widget author_widget">
                                    <img class="author_img rounded-circle" src="{% static 'img/blog/user.jpg' %}" alt="">
                                    <h4>{{ request.session.user_id }}</h4>
                                    <p>GrootBlockchain company</p>
                                    <div class="br"></div>
                                </aside>
                                <aside class="single_sidebar_widget post_category_widget">
                                    <ul class="list cat-list">
                                        <li>
                                            <a href="mypage" class="d-flex justify-content-between">
                                                <p>내정보 수정</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="list" class="d-flex justify-content-between">
                                                <p>계약 현황</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="bye" class="d-flex justify-content-between">
                                                <p>회원탈퇴</p>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="br"></div>
                                </aside>
                            </div>

                        </div>
                        <div class="col-lg-9">
                            <div class="section-table">
                                <h3 class="mb-30 title_color">계약현황</h3>
                                <div class="progress-table-wrap">
                                    <div class="progress-table">
                                        <div class="table-head">
                                            <div class="serial">#</div>
                                            <div class="technology">기술명</div>
                                            <div class="company">신청기업</div>
                                            <div class="enroll_date">등록날짜</div>

                                            <div class="expired_date">만료날짜</div>
                                            <div class="constant">연장/편입/해지</div>
                                        </div>

                                        <div class="table-row" id="contractinfo"></div>
                                    </div>
                                </div>
					        </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!--================End Content Area =================-->
{% endblock content %}

{% block js %}
<script>
$(function(){
    showStatus();
})
function showStatus() {
    let table = `
    <div class="serial">{{contract_info.cont_idx}}</div>
    <div class="technology">{{contract_info.title}}</div>
    <div class="company">{{request.session.user_id}}</div>
    <div class="enroll_date">{{contract_info.c_date}}</div>
    <div class="expired_date">{{contract_info.e_date}}</div>
    <div class="constant"><a href="extend">연장</a>/<a href="insert">편입/</a><a href="expire">해지</a></div>
   `;
   $('#contractinfo').empty();
   $('#contractinfo').append(table); };
                                        </script>
{% endblock js %}
