{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock css %}

{% block content %}
    <section class="p_120">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget author_widget">
                            <img class="author_img rounded-circle" src="{% static 'img/blog/user.jpg' %}" alt="">
                            <h4>{{ request.session.user_id }}</h4>
                            <p>GrootBlockchain company</p>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget post_category_widget">
                            <ul class="list cat-list">
                                <li>
                                    <a href="change" class="d-flex justify-content-between">
                                        <p>내정보 수정</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="list" class="d-flex justify-content-between">
                                        <p>계약 현황</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="bye" class="d-flex justify-content-between">
                                        <p>회원탈퇴</p>
                                    </a>
                                </li>
                            </ul>
                            <div class="br"></div>
                        </aside>
                    </div>
                </div>
                <div class="col-lg-9 inner-container">
                    <div class="user-content section-table">
                        <h3 class="mb-30 title_color">Mypage</h3>
                        <div class="progress-table-wrap">
                            <div class="progress-table">
                                <table class="table">
                                <tbody>
                                <tr><th scope="row">대표자</th><td>{{userinfo.com_head}}</td></tr>
                                <tr><th scope="row">회사명</th><td>{{userinfo.com_name}}</td></tr>
                                <tr><th scope="row">이메일</th><td>{{userinfo.email}}</td></tr>
                                <tr><th scope="row">사업자번호</th><td>{{userinfo.com_num}}</td></tr>
                                <tr><th scope="row">핸드폰번호</th><td>0{{userinfo.phone_num}}</td></tr>
                                </tbody>
                                </table>
                                <a href="#" class="btn btn-outline-info btn-lg active" role="button" aria-pressed="true">OTP활성화</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block js %}
{% endblock js %}

