{% extends "mypage-base.html" %}
{% load static %}

{% block css %}
{% endblock css %}

{% block sidebar %}
<div style="padding-left:40px;"><h1>마이페이지</h1></div><br><hr>
<div style="padding-right:40px;text-align:right">
    <a href="/main"><i class="fas fa-home"></i></a> &nbsp; > &nbsp; <a href="/mypage">마이페이지</a>
</div>    
{% endblock sidebar %}

{% block content %}
    <div class="col-lg-9">
        <div class="contents">
            <div class="row">
                <div class="col-lg-7">
                    <div class="inner-container" style="margin:0 0 30px 0;">
                        <div class="section-table">
                            <h3 class="title_color" style="margin-bottom:20px;padding-left: 15px;">기업 정보</h3>
                            <div class="progress-table-wrap">
                                <div class="progress-table">
                                    <table class="table"style="text-align:left;">
                                    <tbody>
                                    <tr><th scope="row"><i class="fas fa-user-tie" style="color:#3189AE"></i>&nbsp;&nbsp;&nbsp;대 표 자</th><td>{{userinfo.com_head}}</td></tr>
                                    <tr><th scope="row"><i class="far fa-building" style="color:#3189AE"></i>&nbsp;&nbsp;&nbsp;회 사 명</th><td>{{userinfo.com_name}}</td></tr>
                                    <tr><th scope="row"><i class="fas fa-file-signature" style="color:#3189AE"></i>&nbsp;&nbsp;사업자등록번호</th><td>{{userinfo.com_num}}</td></tr>
                                    <tr><th scope="row"><i class="fas fa-envelope" style="color:#3189AE"></i>&nbsp;&nbsp;이메일</th><td>{{userinfo.email}}</td></tr>
                                    <tr><th scope="row"><i class="fas fa-phone" style="color:#3189AE"></i>&nbsp;&nbsp;핸드폰번호</th><td>0{{userinfo.phone_num}}</td></tr>
                                    </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <a href="change_com" class="genric-btn info circle" style="font-size:14px;position: relative; right: -290px;">정보 수정</a>
                    </div>
                    <div class="inner-container" style="margin-bottom:20px;padding:30px 20px 35px 20px;">
                        <div class="mb-20">
                            <span style="float: left;padding-left: 15px;"><h3><i class="fas fa-key"></i>&nbsp;&nbsp;OTP 발급</h3></span>
                        </div><hr>
                        <div style="font-weight:500;padding:0 0 20px 0;">
                            <span style="font-size:15px;padding-left: 5px;">OTP 발급을 통해 그루트 서비스를 보다 안전하게 이용하세요.</span>
                        </div>
                        <a href="#" class="genric-btn info circle" style="font-size:14px;position: relative; right: -280px;">발급하기</a>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="inner-container" style="margin-bottom:40px;padding:30px 20px 80px 20px;">
                        <a href="application_list" class="item"><div class="mb-20">
                            <span style="float: left"><h3>내 임치물 관리</h3></span>
                            <sapn style="float: right"><h3><i class="fas fa-chevron-right"></i></h3></sapn>
                        </div><hr>
                        <div class="title_color" style="font-weight:500;position: absolute;right: 40px;padding-top:10px;">
                            <span style="font-size:40px;color:#1F637F">{{enroll_count}}</span> <span style="font-size:20px;color:#1F637F">건</span>
                        </div>
                        </a>
                    </div>
                    <div class="inner-container" style="margin-bottom:40px;padding:30px 20px 40px 20px;text-align: center;">
                        <a href="request_list" class="item"><div class="mb-20">
                            <span style="float: left"><h3>서비스 신청 현황</h3></span>
                            <sapn style="float: right"><h3><i class="fas fa-chevron-right"></i></h3></sapn>
                        </div><hr></a>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="title_color"><h6>연장</h6></div>
                                <div class="title_color" style="font-weight:500;padding-top:10px;">
                                    <span style="font-size:40px;">{{extend_count}}</span> <span style="font-size:20px;">건</span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="title_color"><h6>계약</h6></div>
                                <div class="title_color" style="font-weight:500;padding-top:10px;">
                                    <span style="font-size:40px;">0</span> <span style="font-size:20px;">건</span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="title_color"><h6>해지</h6></div>
                                <div class="title_color" style="font-weight:500;padding-top:10px;">
                                    <span style="font-size:40px;">{{expire_count}}</span> <span style="font-size:20px;">건</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="inner-container" style="margin-bottom:40px;padding:30px 20px 80px 20px;text-align: center">
                        <a href="contract_list" class="item"><div class="mb-20">
                            <span style="float: left"><h3>회사간 계약 현황</h3></span>
                            <sapn style="float: right"><h3><i class="fas fa-chevron-right"></i></h3></sapn>
                        </div><hr></a>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="title_color"><h6>진행중인 계약</h6></div>
                                <div class="title_color" style="font-weight:500;position: absolute;right: 40px;padding-top:10px;">
                                    <span style="font-size:40px;">{{contract_is_value}}</span> <span style="font-size:20px;">건</span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="title_color"><h6>요청</h6></div>
                                <div class="title_color" style="font-weight:500;position: absolute;right: 40px;padding-top:10px;">
                                    <span style="font-size:40px;">{{contract_count}}</span> <span style="font-size:20px;">건</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
{% endblock js %}

