{% extends "mypage-base.html" %}
{% load static %}

{% block css %}
    <!-- 탭 관련 CSS 파일 -->
    <link href="{%static 'css/tab.css' %}" rel="stylesheet">
    <!-- Pagination 및 검색을 위한 CSS 파일 -->
    <link href="{% static 'css/table.css' %}" rel="stylesheet">
    <style>
        .col-sm-12{
            min-height:350px;
        }
        #request_list {
            border-color: #3189AE;
        }
        #request_list p {
            color: #3189AE;
        }
    </style>
{% endblock css %}

{% block sidebar %}
<div class="contents-header">
    <div class="contents-header-left">마이페이지</div>
    <div class="contents-header-right">
        <a href="/main"><i class="fas fa-home"></i></a> &nbsp; > &nbsp; <a href="/mypage">마이페이지</a> &nbsp; > &nbsp; <a class="header-right-last" href="/request_list">서비스 신청 현황</a>
    </div>
</div>
<hr class="contents-header-hr">    
{% endblock sidebar %}

{% block content %}
    <div class="col-lg-9">
        <div class="contents">
            <!-- 소제목 -->
            <h3 class="mb-30 title_color" style="padding-left:40px;color:rgb(88, 88, 88)">서비스 신청 현황</h3>
            <hr>
            <!-- Tab Menu -->
            <ul class="nav nav-tabs" role="tablist" style="font-weight:500;">
            <li class="nav-item">
                <a class="nav-link active" href="#extend" role="tab" data-toggle="tab">연장신청 현황</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contract" role="tab" data-toggle="tab">계약신청 현황</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#expire" role="tab" data-toggle="tab">해지신청 현황</a>
            </li>
            </ul>

            <!-- Tab Contents -->
            <div class="tab-content" >
                <div role="tabpanel" class="tab-pane active" id="extend" > 
                    <table class="table table-hover dataTables-example" width="100%" style="text-align:center;" >
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>임치 기술명</th>
                                <th>년 수</th>
                                <th>신청날짜</th>
                                <th>신청상태</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                        {% for list in extend_lists %}
                            <tr>
                                <td>{{list.enroll_idx.title}}</td>
                                <td>{{list.term}} 년</td>
                                <td>{{list.c_date}}</td>
                                {{list.status | safe}}
                            </tr>
                        {% endfor %}
                        </tbody>
                        <script>
                            var tables = document.getElementsByTagName('tbody');
                            var table = tables[tables.length - 1];
                            var rows = table.rows;
                            for(var i = 0, td; i < rows.length; i++){
                                td = document.createElement('td');
                                td.appendChild(document.createTextNode(i+1));
                                rows[i].insertBefore(td, rows[i].firstChild);
                            }
                        </script>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane " id="contract">
                    <table class="table table-hover dataTables-example" width="100%" style="text-align:center;">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>임치 기술명</th>
                                <th>임치기업</th>
                                <th>계약기업</th>
                                <th >계약기간</th>
                                <th>신청날짜</th>
                                <th>상태</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                        {% for list in contract_lists %}
                            <tr>
                                <td>{{list.enroll_idx.title}}</td>
                                <td>{{list.enroll_idx.user.com_name}}</td>
                                <td>{{list.user.com_name}}</td>
                                <td>{{list.term}} 년</td>
                                <td>{{list.c_date}}</td>
                                {{list.status | safe}}
                            </tr>
                        {% endfor %}
                        </tbody>
                        <script>
                            var tables = document.getElementsByTagName('tbody');
                            var table = tables[tables.length - 1];
                            var rows = table.rows;
                            for(var i = 0, td; i < rows.length; i++){
                                td = document.createElement('td');
                                td.appendChild(document.createTextNode(i+1));
                                rows[i].insertBefore(td, rows[i].firstChild);
                            }
                        </script>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane " id="expire">
                    <table class="table table-hover dataTables-example" width="100%" style="text-align:center;">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>임치 기술명</th>
                                <th>신청날짜</th>
                                <th>신청상태</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                        {% for list in expire_lists %}
                            <tr>
                                <td>{{list.enroll_idx.title}}</td>
                                <td>{{list.c_date}}</td>
                                {{list.status | safe}}
                            </tr>
                        {% endfor %}
                        </tbody>
                        <script>
                            var tables = document.getElementsByTagName('tbody');
                            var table = tables[tables.length - 1];
                            var rows = table.rows;
                            for(var i = 0, td; i < rows.length; i++){
                                td = document.createElement('td');
                                td.appendChild(document.createTextNode(i+1));
                                rows[i].insertBefore(td, rows[i].firstChild);
                            }
                        </script>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
<!-- DataTables JavaScript -->
<script src="{% static 'datatables/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'datatables-plugins/dataTables.bootstrap.js' %}"></script>
<script src="{% static 'datatables-responsive/dataTables.responsive.js' %}"></script>

<script>
$(document).ready(function() {
    $('.dataTables-example').DataTable({
        "lengthMenu": [ 5, 10, 15 ]
    });
});
</script>
{% endblock js %}