{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <style>
        #search {
            color:#2F89AE;
            border-bottom: 3px solid #2F89AE; 
        }
.button_style{
background-color: Transparent;
border: none;
cursor:pointer;
}
    </style>
{% endblock css %}

{% block content %}
    <section>
        <div class="container shadow" style="text-align:center;">
            <div class="p_120" style="padding-bottom: 40px;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="contents" style="min-height:680px">
                            <br>
                            <img src="{%static '/img/GrootSearch.png' %}">
                            <br><br> <br><br>
                            <p style="font-weight:900;font-size:22px"> 기술을 검색하고 계약을 맺어 활용해보세요! </p>
                            <br><br>
                            <div class="search">
                                <form action="" method="get">
                                    <fieldset>
                                        <span class="green_window" >
                                            <select id="s_option" class="s_option" name="s_option">
                                                <option value="1">기술명</option>
                                                <option value="2">기술 요약</option>
                                                <option value="3">기술명+기술요약</option>
                                            </select>
                                            <input class="input_text" type="text" name="q" placeholder="찾고 싶은 기술명 혹은 키워드를 입력하세요">
                                            <button class="button_style"><i class="fa fa-search"><input class="blind" type="submit" value="Groot 검색"></i></button>
                                        </span>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block js %}
{% endblock js %}
