{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock css %}

{% block content %}
<head> <!--키프리스 스타일 가져옴 -->
        <link rel="stylesheet" href="{%static 'css/common.css' %}">
        <link rel="stylesheet" href="{%static 'css/result.css' %}">
</head>


<!--================Content Area =================-->


<body>
    <section class="first_search_body">
        <div id="allResultLoading" class="loading_bar_div"><img src="/beginner/images/common/loading_all.gif" alt="검색결과를 불러오고 있습니다." /></div>
        <div class="first_wrap">
             <div class="logo_div">
                <h1>
                        <img src="{% static 'img/search.png' %}">  임치된 기술 검색
                    </a>
                </h1>
             </div>

        <!-- 단계별검색 안내 -->
        <section class="step_ex_box step01">
            <span class="step_ex_main_title">STEP 01</span>
            <div class="step_ex_sub_box">
                <div class="step_ex_title">검색어를 입력하고 검색을 클릭해주세요.</div>

                    <div class="step_ex_sub_title">
                        <span class="step_ex_sub_title_01">연산자를 이용하여 <b>검색식</b>을 작성해보세요!</span><br/>
                        <span class="step_ex_sub_title_02">연산자를 이용한 검색식 작성을 통해 좀 더 다양한 검색을 할 수 있습니다.</span>
                    </div>

                    <div class="step_ex_img">
                        <img src="{% static 'img/step1_on.png' %}" alt="STEP1"/>
                        <img src="{% static 'img/step2_off.png' %}" alt="STEP2"/>
                        <img src="{% static 'img/step3_off.png' %}" alt="STEP3"/>
                    </div>

            <!--검색식 설명-->
            <div class="step_info">
                <table border="0">
                    <tbody class="step_info_main">
                         <tr>
                            <td rowspan="5" class="step_info_formula_title">검색식</td>
                            <td class="step_info_formula_explain"><img src="/beginner/images/explain/number_search_arrow.png" alt=""/><div class="step_formula">*&nbsp;(AND)</div><p>&nbsp;검색결과에 반드시 포함되어야 할 단어</p></td>
                            <td>
                               <table border="0">
                                   <tbody class="step_info_example_contents">
                                    <tr>
                                        <td><span>'자동차'와 '엔진' 두 키워드를 모두 포함하여 검색할 경우</span></td>
                                    </tr>
                                    <tr>
                                        <td class="step_formula_ex">검색식 예시 : <span class="info_gray">자동차&nbsp;<span class="formula_sign">*</span>&nbsp;엔진</span></td>

                                    </tr>
                                    </tbody>
                               </table>
                            </td>
                        </tr>

                        <tr>
                            <td class="step_info_formula_explain"><img src="/beginner/images/explain/number_search_arrow.png" alt=""/><div class="step_formula">+&nbsp;(OR)</div><p>&nbsp;입력키워드 중 하나만 포함되어도 되는 단어</p></td>
                            <td>
                               <table border="0">
                                   <tbody class="step_info_example_contents">
                                    <tr>
                                        <td><span>'자동차'와 '엔진' 중 하나 이상의 키워드를 포함하여 검색할 경우 </span></td>
                                    </tr>
                                    <tr>
                                        <td class="step_formula_ex">검색식 예시 : <span class="info_gray">자동차&nbsp;<span class="formula_sign">+</span>&nbsp;엔진</span></td>
                                    </tr>
                                    </tbody>
                               </table>
                            </td>
                        </tr>

                        <tr>
                            <td class="step_info_formula_explain"><img src="/beginner/images/explain/number_search_arrow.png" alt=""/><div class="step_formula">!&nbsp;(NOT)</div><p>&nbsp;검색결과에서 제외되어야 할 단어</p></td>
                            <td>
                               <table border="0">
                                   <tbody class="step_info_example_contents">
                                    <tr>
                                        <td><span>'자동차'로 검색된 결과에서 '엔진' 키워드를 가진 결과를 제외할 경우</span></td>
                                    </tr>
                                    <tr>
                                        <td class="step_formula_ex">검색식 예시 : <span class="info_gray">&nbsp;자동차*<span class="formula_sign">!</span>엔진</span></td>
                                    </tr>
                                    </tbody>
                               </table>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2" class="step_info_formula_explain_extend"> 다양한 키워드를 적절한 연산자와 조합하면 더 구체적인 검색이 가능합니다. </td>
                        </tr>
                         <tr>
                            <td colspan="2" class="step_info_formula_explain text_center border_right"> 검색식 응용 예시 : <span class="info_gray">자동차<span class="formula_sign">*</span>엔진<span class="formula_sign">*</span>(효율<span class="formula_sign">+</span>하이브리드)*<span class="formula_sign">!</span>(장치<span class="formula_sign">+</span> 시스템)</span> </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <!--검색식 설명 끝-->
            </div>
        </section>

             <div class="search_box_section">
                <div id="search_box" class="first_search_box">

                    <form name="firstSearchF" id="firstSearchF" class="search_Form" method="post" action="/beginner/search/headerSearch.do">
                        <input type="hidden" id="searchRight" name="searchRight" value="" />
                        <input type="hidden" id="searchType" name="searchType" value="SKW" />
                        <input type="hidden" id="queryText" name="queryText" value="" />
                        <input type="hidden" id="searchClass" name="searchClass" value="firstSearch" />
                        <div class="search_box_wrap">
                            <input type="text" id="searchKeyword" name="searchKeyword" class="search_keyword_box" value="" placeholder="검색어를 입력해주세요 ex) 자동차*엔진" />

                            <select id="searchTypeSelect" class="search_type_select">
                                <option value="all" label="전체">전체</option>
                                <option value="patent" label="특허실용신안">특허실용신안</option>
                                <option value="design" label="디자인">디자인</option>
                                <option value="trademark" label="상표">상표</option>
                            </select>
                            <div class="searchButtonBox">
                                <button title="검색" type="submit" id="firstSearchBtn" class="searchButton">검색</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> <!--first_wrap 끝-->
             <section class="first_wrap" >
            <div class="container" style="text-align:center;",  >
                <h3 class="mb-30 title_color">임치 기술 목록</h3>
                <div class="panel-body">

                    <table class="table table-hover" width="90%">
                        <thead>
                        <tr>
                            <th>번호</th>
                            <th>임치 기술명</th>
                            <th>회사명</th>
                            <th>홈페이지 주소</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for app_infos in app_info %}
                        <tr>
                            <!--<td class="center">{{app_infos.enroll_idx.enroll_idx}}</td>-->
                            <td><a href="#" class="tr_link">{{app_infos.title}}</a></td>
                            <td class="center">{{app_infos.user.com_name}}</td>
                            <td class="center">{{app_infos.user.email}}</td>
                            <td class="center" style="text-align:center;">
                            </td>
                        </tr>
                            {% if app_infos.enroll_idx == app_infos.enroll_idx %}
                                <tr id="tr_show" class="tr{{app_infos.enroll_idx.enroll_idx}}" style="{display:none}">
                                    <td style="padding-left:9%;">
                                        <span style="font-size: 20px; color: Dodgerblue;">
                                          <i class="fa fa-angle-right"></i>
                                        </span>
                                    </td>
                                    <td>{{app_infos.summary}}</td>
                                    <td>
                                        <a href="insert/{{app_infos.enroll_idx}}">
                                            <button type="button" class="btn btn-outline-info"
                                                    style="font-size:80%; border-color:#00c8a9;"> 기술 계약 신청
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
    </section>
    <br><br><br><br><br><br><br><br><br>
    </section>





    <!--================End Content Area =================-->
{% endblock content %}

{% block js %}

<script src="{% static 'js/jquery.form.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/contact.js' %}"></script>
<script> <!--Table 숫자 증가-->
    var tables = document.getElementsByTagName('tbody');
    var table = tables[tables.length - 1];
    var rows = table.rows;
    for(var i = 0, td; i < rows.length; i++){
        td = document.createElement('td');
        td.appendChild(document.createTextNode(i+1));
        rows[i].insertBefore(td, rows[i].firstChild);
    }
</script>

<script>
    $(function() {
        $('.tr_link').click(function() {
            let trid = $(this).attr('trid');
            $('.tr'+trid).toggle();
        });
        <!--$('.tr'+trid').hide();-->

        <!--임치목록 1부터 나타내기-->
        <!--var tables = document.getElementsByTagName('tr');-->
        <!--var table = tables[tables.length - 1];-->
        <!--var rows = table.rows;-->
        <!--for(var i = 0, td; i < rows.length; i++){-->
            <!--td = document.createElement('td');-->
            <!--td.appendChild(document.createTextNode(i+1));-->
            <!--rows[i].insertBefore(td, rows[i].firstChild);-->
        <!--}-->

        <!--$('.tr_link').hover(function() { 돋보기 뜨는거-->
            <!--let trid = $(this).attr('trid');-->
            <!--let icon = `<span style="font-size: 20px; color: Dodgerblue;">-->
                           <!--<i class="fa fa-search-plus"></i>-->
                        <!--</span>`;-->
            <!--$('#'+trid).html(icon);-->
        <!--});-->
        <!--$('.tr_link').html('{{enroll_info.enroll_idx}}');-->
    });
</script>


<script type="text/javascript">
<!--하이드메뉴-->

$(function() {
    $('.tr_link').click(function() {
        let trid = $(this).attr('trid');
        $('.tr'+trid).toggle();
    });
    <!--$('.tr'+trid').hide();-->

    <!--$('.tr_link').hover(function() {-->
        <!--let trid = $(this).attr('trid');-->
        <!--let icon = `<span style="font-size: 20px; color: Dodgerblue;">-->
                       <!--<i class="fa fa-search-plus"></i>-->
                    <!--</span>`;-->
        <!--$('#'+trid).html(icon);-->
    <!--});-->
    <!--$('.tr_link').html('{{enroll_info.enroll_idx}}');-->
});

<!--END-->

jQuery(document).ready(function(){
	if( $('.cd-stretchy-nav').length > 0 ) {
		var stretchyNavs = $('.cd-stretchy-nav');

		stretchyNavs.each(function(){
			var stretchyNav = $(this),
				stretchyNavTrigger = stretchyNav.find('.cd-nav-trigger');

			stretchyNavTrigger.on('click', function(event){
				event.preventDefault();
				stretchyNav.toggleClass('nav-is-visible');
			});
		});

		$(document).on('click', function(event){
			( !$(event.target).is('.cd-nav-trigger') && !$(event.target).is('.cd-nav-trigger span') ) && stretchyNavs.removeClass('nav-is-visible');
		});
	}


var htmlText = "";
var searchType = $("#searchType").val();
if(searchType=="SKW"){
    htmlText = "<a href='http://www.kipris.or.kr/khome/guide/easy/easy_begin_step.jsp' target='_blank'><img src='/beginner/images/intro/side_btn_step.png' alt='단계별 검색 안내동영상 새창으로 열림'></a>" ;
}else if(searchType=="SNU" || searchType=="SPE"){
    htmlText = "<a href='http://www.kipris.or.kr/khome/guide/easy/easy_begin_number.jsp' target='_blank'><img src='/beginner/images/intro/side_btn_personnumber.png' alt='번호/인명 검색 안내동영상 새창으로 열림'></a>" ;
}else{
    htmlText = "<a href='http://www.kipris.or.kr/khome/guide/easy/easy_begin_kdc.jsp' target='_blank'><img src='/beginner/images/intro/side_btn_kdc.png' alt='문장검색 안내동영상 새창으로 열림'></a>" ;
}
    $("#guide_span").html(htmlText);

});


</script>

<script type="text/javascript">

jQuery("#firstSearchF").submit(
	function(evt) {
      //  function(){
           // alert("firstSearchBtn click 호출");
            jQuery("#searchRight").val($("#searchTypeSelect option:selected").val()) ;
            var queryTextCheck = jQuery("#searchKeyword").val().trim();

            if((queryTextCheck =="" || queryTextCheck == null) ){
                alert("검색어를 입력해 주십시요.");
                jQuery("#searchKeyword").focus();
                return false;
            }

           //공백처리
           //queryTextCheck = queryTextCheck.replace(/ /gi,"*");
            queryTextCheck = removeOperatorBlank(queryTextCheck);

            //검색식 유효성 검사
           if( checkVaildQuery(queryTextCheck) != true) return false;
            showLoadingBar('all','');
            $("#queryText").val(queryTextCheck);
        }
    );

  jQuery(document).ready(function(){
	jQuery("#goTopBtn").click(function() { $(window).scrollTop(0);}) ;
});

</script>

<script type="text/javascript">
$(document).ready(function(){
        jQuery("#goTopBtn").click(function() { $(window).scrollTop(0);}) ;

        var yearObj = jQuery("#searchYearSelect");
        var date = new Date();
        for(var i = date.getFullYear(); i >= 1948; i--){
                yearObj.append("<option value=" + i + ">" + i + "</option>");
        }


        // 번호이미지 클릭했을때 셀렉트박스 선택되도록
        jQuery("#numberSearch10").click(function(){
                 $("#searchTypeSelect").val("10");
        });
        jQuery("#numberSearch20").click(function(evt) {
                 $("#searchTypeSelect").val("20");
        });
        jQuery("#numberSearch30").click(function(evt) {
                 $("#searchTypeSelect").val("30");
        });
        jQuery("#numberSearch40").click(function(evt) {
                 $("#searchTypeSelect").val("40");
        });


      $("#numberSearchF").submit(
            function(){
              //  alert("numberSearchBtn click 호출");
                $("#searchRight").val($("#searchTypeSelect option:selected").val()) ;
                $("#searchYear").val($("#searchYearSelect option:selected").val()) ;

                var queryTextCheck = $("#searchKeyword").val().trim();

                if((queryTextCheck =="" || queryTextCheck == null) ){
                    alert("번호를 입력해 주십시요.");
                    $("#searchKeyword").focus();
                    return false;
                }

                if(queryTextCheck.length  < 3){
                    alert("번호검색의 경우 최소 3자리 이상 입력하시기 바랍니다.");
                    return false;
                }

                //숫자없이 문자만 존재하는경우 검색 제외
                var numCheck = /[0-9]/;
                if(!numCheck.test(queryTextCheck)){
                    alert("번호검색에서는 숫자로만 검색 가능합니다. 키워드 검색을 원하시면 단계별 검색을 이용하시기 바랍니다.");
                    $("#searchKeyword").focus();
                    return false;
                }

                //공백처리
//                queryTextCheck = removeOperatorBlank(queryTextCheck);
                //검색식 유효성 검사
                if( checkVaildQuery(queryTextCheck) != true) return false;

                var srchright = $("#searchRight").val();
                var srchy = $("#searchYear").val();
                var srchk = $("#searchKeyword").val();
                var expr = $("#queryText").val();
                showLoadingBar('all','');
                if(srchright == "all"){
                    $("#searchRight").val("?");
                }
                if(srchy == "" || srchy == null){
                    $("#searchYear").val("?");
                }
                if(srchk == "" || srchk == null){
                    $("#searchKeyword").val("?");
                }

                $("#queryText").val(queryTextCheck);
             //   $("#numberSearchF").submit();
            }
        );
});


</script>



{% endblock js %}
