
#####
    <section class="register_area p_200">
<div id="search_box" class="first_search_box">
                    <form name="numberSearchF" id="numberSearchF" class="search_Form" method="post" action="/beginner/search/headerSearch.do">
                        <input type="hidden" id="searchRight" name="searchRight" value="">
                        <input type="hidden" id="searchType" name="searchType" value="SNU">
                        <input type="hidden" id="searchYear" name="searchYear" value="">
                        <input type="hidden" id="queryText" name="queryText" value="">
                        <input type="hidden" id="searchClass" name="searchClass" value="numberSearch">
                        <div class="search_box_wrap">
                             <select id="searchTypeSelect" class="search_type_select">
                                <option value="all" label="전체권리">전체권리</option>
                                <option value="10" label="(10)특허">(10)특허</option>
                                <option value="20" label="(20)실용신안">(20)실용신안</option>
                                <option value="30" label="(30)디자인">(30)디자인</option>
                                <option value="40" label="(40)상표">(40)상표</option>
                                <option value="41" label="(41)서비스표">(41)서비스표</option>
                                <option value="42" label="(42)업무표장">(42)업무표장</option>
                                <option value="43" label="(43)단체표장">(43)단체표장</option>
                                <option value="44" label="(44)지리적 표시 단체표장">(44)지리적 표시 단체표장</option>
                                <option value="45" label="(45)상표, 서비스표">(45)상표·서비스표</option>
                                <option value="47" label="(47)증명표장">(47)증명표장</option>
                                <option value="48" label="(48)지리적 표시 증명표장">(48)지리적 표시 증명표장</option>
                            </select>
                             <input type="text" id="searchKeyword" name="searchKeyword" class="search_keyword_box n_input" value="" placeholder="키워드를 입력하세요">
                             <div class="searchButtonBox">
                                 <button title="검색" type="submit" id="numberSearchBtn" class="searchButton">검색</button>
                             </div>
                         </div>
                    </form>
                </div>
            </section>

<section class="contact_area p_200" >
            <div class="container" style="text-align:center;">
                <h3 class="mb-30 title_color">임치 기술 목록</h3>
                <table class="table table-hover" width="90%">
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>임치 기술명</th>
                            <th>계약 날짜</th>
                            <th>만료 날짜</th>
                            <th>증명서 발급</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for enroll_info in enroll_infos %}
                        <tr>
                            <td>
                                <a href="#" trid="{{enroll_info.enroll_idx}}" class="tr_link">
                                    {{enroll_info.enroll_idx}}
                                </a>
                            </td>
                            <td>{{enroll_info.title}}</td>
                            <td>{{enroll_info.c_date}}</td> <!-- 임시로 작성 -->
                            <!--<td>{{enroll_info.enroll_date}}</td>-->
                            <td>{{enroll_info.end_date}}</td>
                            <td>
                                <a href="show_app/{{enroll_info.enroll_idx}}">
                                    <button type="button" class="btn btn-outline-warning" style="font-size:80%;"> 임치 증명서 발급 </button>
                                </a>
                            </td>
                        </tr>
                        {% for contract_info in contract_infos %}
                            {% if contract_info.enroll_idx.enroll_idx == enroll_info.enroll_idx %}
                                <tr id="tr_show" class="tr{{contract_info.enroll_idx.enroll_idx}}" style="{display:none}">
                                    <td>
                                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                                    </td>
                                    <td>{{contract_info.cont_idx}}</td>
                                    <td>{{contract_info.c_date}}</td>
                                    <td>{{contract_info.end_date}}</td>
                                    <td>
                                        <a href="show_cont/{{enroll_info.enroll_idx}}-{{contract_info.cont_idx}}">
                                            <button type="button" class="btn btn-outline-success" style="font-size:80%;"> 계약 증명서 발급 </button>
                                        </a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
    </section>

    <br><br><br><br><br><br><br><br><br>