{% extends "base.html" %}
{% load static %}   
{% block css %}
    <style>
        .btn-outline-info:hover{color:white; background-color:#00c8a9;}
    </style>
    <link href="{% static 'css/table.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
    <section class="p_120" >
        <div class="container">
            <div style="padding-left:40px;"><h1>마이페이지</h1></div><br><hr>
            <div style="padding-right:40px;text-align:right">
                <a href="/main"><i class="fas fa-home"></i></a> &nbsp; > &nbsp; <a href="/mypage">원본검증</a>
            </div>
            <h3 class="mb-30 title_color" style="margin-bottom:20px;padding-left: 60px;">검증 가능한 기술목록</h3>
            <table class="table table-hover dataTables-example" width="100%" >
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>임치 기술명</th>
                        <th>계약 날짜</th>
                        <th>만료 날짜</th>
                        <th>원본 검증</th>
                    </tr>
                </thead>

                <tbody>
                {% for enroll_info in enroll_infos %}
                    <tr>
                        <!--<td>{{enroll_info.enroll_idx}}</td>-->
                        <td>{{enroll_info.title}}</td>
                        <td>{{enroll_info.enroll_date}}</td>
                        <td>{{enroll_info.end_date}}</td>
                        <td>
                            <a href="/validate/{{enroll_info.enroll_idx}}">
                                <button type="button" class="btn btn-outline-info" style="font-size:80%; border-color:#39bfd6;"> 검증하기 </button>
                            </a>
                        </td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
                <script>
                    var tables = document.getElementsByTagName('tbody');
                    var table = tables[tables.length - 1];
                    var rows = table.rows;
                    for(var i = 0, td; i < rows.length; i++){
                        td = document.createElement('td');
                        td.appendChild(document.createTextNode(i+1));
                        rows[i].insertBefore(td, rows[i].firstChild);
                    }
                </script>
            </table>
        </div>
    </section>
{% endblock content %}

{% block js %}
    <!-- DataTables JavaScript -->
    <script src="{% static 'datatables/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'datatables-plugins/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'datatables-responsive/dataTables.responsive.js' %}"></script>

    <script>
    $(document).ready(function() {
        $('.dataTables-example').DataTable({
            responsive: true
        });
    });
    </script>
{% endblock js %}