{% extends "base.html" %}

{% block css %}
{% endblock css %}

{% block content %}
    <section class="contact_area p_200" style="padding-bottom: 400px;" >
        <div class="container">
            <div class="content" style="text-align:center;">
                <h2>{{user_id}} 님 환영합니다.</h2>
                <a href="login" class="genric-btn primary e-large text-upperclass" style="font-size: 1.1em;">로그인하러가기<span class="lnr lnr-arrow-right"></span></a>
            </div>
        </div>
    </section>
{% endblock content %}

{% block js %}
{% endblock js %}