{% extends "admin-base.html" %}
{% load static %}

{% block css %}
<link href="{%static 'css/application_detail.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
    <div id="page-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <form class="enrollment-form" action="" method="POST">
                        {% csrf_token %}
                        <div id="table">
                            <table>
                                <caption>기술자료 임치 신청서</caption>
                                <colgroup>
                                    <col style="width: 13.5554%">
                                    <col style="width: 13.3333%">
                                    <col style="width: 30%">
                                    <col style="width: 13.3333%">
                                    <col style="width: 30%">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th colspan="5"><span>기술자료 임치 신청서</span></th>
                                    </tr>
                                </thead>
                                <tbody class="center">
                                    <tr>
                                        <th rowspan="2">임치물</th>
                                        <th>제호</th>
                                        <td colspan="3">{{enroll_infos.title}}</td>
                                    </tr>
                                    <tr>
                                        <th>종류</th>
                                        <td colspan="3">{{enroll_infos.sort_idx}}</td>
                                    </tr>
                                    <tr>
                                        <th rowspan="3">개발인</th>
                                        <th>기업명</th>
                                        <td>{{enroll_infos.user.com_name}}</td>
                                        <th>사업자등록번호</th>
                                        <td>{{enroll_infos.user.com_num}}</td>
                                    </tr>
                                    <tr>
                                        <th>대표자</th>
                                        <td>{{enroll_infos.user.com_head}}</td>
                                        <th>전화번호</th>
                                        <td>{{enroll_infos.user.phone_num}}</td>
                                    </tr>
                                    <tr>
                                        <th>주소</th>
                                        <td colspan="3">{{enroll_infos.user.address}}</td>
                                    </tr>
                                    <tr>
                                        <th>임치기간</th>
                                        <!-- (D) 가운데정렬은 center 클래스 추가 -->
                                        <td class="center" colspan="5">{{enroll_enrolldate}} ~ {{enroll_enddate}}</td>
                                    </tr>
                                    <tr>
                                        <th class="center" colspan="5">해지 사유</th>
                                    </tr>
                                    <tr class="reason">
                                        <td class="center" colspan="5" style="padding:30px;">{{expire_infos.reason}}</td>
                                    </tr>
                                    <tr>
                                        <td class="center" colspan="5" style="padding-top:30px;">「대·중소기업 상생협력 촉진에 관한 법률」 제24조의2 내지 제24조의5에 따라<br> 위와 같이 기술자료 해지를 신청합니다.<br><br></td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" style="text-align: right; padding-right: 30px;">신청일 : {{expire_date}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" style="text-align:right; padding-right:30px;"> 신청인(개발인) :  {{enroll_infos.user.com_head}}  (인)</td>
                                    </tr>
                                    <tr>
                                        <td class="center" colspan="5">그루트재단 사무총장  귀하</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="button">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn submit_btn btn-primary" data-toggle="modal" data-target="#acceptModal">승인</button>
                                    
                                <!-- Modal -->
                                <div class="modal fade" id="acceptModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Groot Chain</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" style="margin:20px;">
                                        해당 임치물 해지신청을 승인하시겠습니까?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                                        <button type="submit" name="yes" value="yes" class="btn btn-primary" onclick="accept();">승인</button>
                                    </div>
                                    </div>
                                </div>
                                </div>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn submit_btn btn-danger" data-toggle="modal" data-target="#deniedModal">반려</button>
                                    
                                <!-- Modal -->
                                <div class="modal fade" id="deniedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Groot Chain</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" style="margin:20px;">
                                        해당 임치물 해지신청을 반려하시겠습니까?
                                    </div>
                                    <div class="form-group" style="padding:0 20px 0 20px">
                                        <label for="message-text" class="col-form-label">반려 사유를 입력하세요:</label>
                                        <textarea class="form-control" id="refused_reason" name="refused_reason"></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                                        <button type="submit" name="no" value="no" class="btn btn-danger" onclick="denied();">반려</button>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
<script>
    function accept() {
    alert("승인처리 되었습니다.");
    }
    function denied() {
    alert("반려처리 되었습니다.");
    }
</script>
{% endblock js %}