<!--<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">-->
<!DOCTYPE html>
{%load static%}
<html lang="en">
    <head>
         <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{%static 'img/favicon.ico' %}" type="image/ico">
        <title>Groot Blockchain</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{%static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{%static 'vendors/linericon/style.css' %}">
        <link rel="stylesheet" href="{%static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{%static 'vendors/owl-carousel/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{%static 'vendors/lightbox/simpleLightbox.css' %}">
        <link rel="stylesheet" href="{%static 'vendors/nice-select/css/nice-select.css' %}">
        <link rel="stylesheet" href="{%static 'vendors/animate-css/animate.css' %}">
        <link rel="stylesheet" href="{%static 'vendors/flaticon/flaticon.css' %}">
        <!-- main css -->
        <link rel="stylesheet" href="{%static 'css/style.css' %}">
        <link rel="stylesheet" href="{%static 'css/responsive.css' %}">
        <link href="{%static 'css/admin_font.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        {% block css %}
        {% endblock css %}
    </head>
    <body>
        <!--================Header Menu Area =================-->
        <header class="header_area">
            <div class="main_menu" id="mainNav">
                <nav class="navbar navbar-expand-lg navbar-light" style="background-color:white;">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <a class="navbar-brand logo_h" href="/main"><img src="{%static 'img/rsz_grootlogo.png' %}" alt=""><img src="{%static 'img/rsz_grootlogo.png' %}" alt=""></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                            <ul class="nav navbar-nav menu_nav ml-auto">
                                <li class="nav-item"><a class="nav-link-other" href="/application" >기술임치신청</a></li>
                                <li class="nav-item"><a class="nav-link-other" href="/search" >기술검색</a></li>
                                <li class="nav-item"><a class="nav-link-other" href="/issue" >증명서 발급</a></li>
                                <li class="nav-item submenu dropdown">
                                    <a href="#" class="nav-link-other dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">임치문서관리</a>
                                    <ul class="dropdown-menu" >
                                        <li class="nav-item"><a class="nav-link" href="/read"><i class="far fa-file-alt"></i>&nbsp;&nbsp;문서열람</a></li>
                                        <li class="nav-item"><a class="nav-link" href="/validate"><i class="far fa-check-square"></i>&nbsp;&nbsp;원본검증</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a class="nav-link-other" href="/groot_scan">Groot Scan</a></li>
                                {%if request.session.user_id %}
                                    <li class="nav-item submenu dropdown">
                                        <a class="nav-link-other" href="#" data-toggle="dropdown" style="padding-top:6px;margin-left: 2px;"><i class="fas fa-user fa-2x" style="color:#2F89AE"></i></a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item"><a class="nav-link" href="/mypage"><i class="far fa-user"></i>&nbsp;&nbsp;마이페이지</a></li>
                                            <li class="nav-item"><a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;로그아웃</a></li>
                                        </ul>
                                    </li>
                                {% else %}
                                    <li class="nav-item"><a class="nav-link-other" href="/login" style="color:#2F89AE"><i class="fas fa-sign-in-alt"></i>&nbsp;로그인</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>

        </header>
        <!--================Header Menu Area =================-->


        {% block content %}
        {% endblock content %}


        <!--================Footer Area =================-->
        <footer>
            <center><span style="color:white;">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by</span> <span><b style="color:#2F89AE">Team Groot</b></span></center>
        </footer>
        <!--================End Footer Area =================-->


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/popper.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/stellar.js' %}"></script>
        <script src="{% static 'vendors/lightbox/simpleLightbox.min.js' %}"></script>
        <script src="{% static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
        <script src="{% static 'vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'vendors/isotope/isotope-min.js' %}"></script>
        <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'js/mail-script.js' %}"></script>
        <script src="{% static 'vendors/counter-up/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'vendors/counter-up/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'js/theme.js' %}"></script>
        {% block js %}
        {% endblock js %}
    </body>
</html>